spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/universal_db
    username: DB_USER:postgres
    password: DB_PASS:root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  liquibase:
    change-log: db/changelog/universal.xml
